networks:
  video_service_network:
    driver: bridge

volumes:
  db_data:

services:
  db:
    image: postgres:16
    container_name: project_db_container
    restart: always
    env_file:
     - .env
    volumes:
    - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $POSTGRES_USER -d $POSTGRES_DB']
      interval: 5s
      timeout: 5s
      retries: 5

  migrations:
    build: .
    restart: no
    env_file:
     - .env
    depends_on:
      db:
        condition: service_healthy
    command: ['alembic', '-c', './app/alembic.ini', 'upgrade', 'head']

  api:
    build: .
    container_name: project_api_container
    restart: always
    env_file:
     - .env
    depends_on:
      migrations:
        condition: service_completed_successfully
    healthcheck:
      test: curl http://api:8000/api/v1/healthcheck || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "8000:8000"
